[local]
app.log_name = app.log

; HTTP mode
; debug,release,test
http.mode = debug
http.host = 0.0.0.0
http.port = 12345
http.read_timeout = 3
http.write_timeout = 3
http.quit_timeout = 30

; Log output
;   stdout : Console output
;   file : File output
;   log.dir = /tmp
log.output = stdout


; Log Level
; LevelFatal = iota
; LevelError
; LevelWarn
; LevelNotice
; LevelInfo
; LevelTrace
; LevelDebug
log.level = 7


; MySQL Config
; dsn ex: <user>:<password>/<database>?charset=utf8&parseTime=True&loc=Local
; Only support for master and salve mode, so a single machine also needs to be configured into this mode.
mysql.names = mysql_first,mysql_second

mysql_first.read.count = 2
mysql_first.write.count = 2

mysql_first.read.1.dsn = lixin:123456@tcp(127.0.0.1:33060)/test?charset=utf8mb4&parseTime=True&loc=Local
mysql_first.read.1.max_idle_conn = 10
mysql_first.read.1.max_timeout = 300
mysql_first.read.1.max_open_conn = 200

mysql_first.read.2.dsn = lixin:123456@tcp(127.0.0.1:33060)/test?charset=utf8mb4&parseTime=True&loc=Local
mysql_first.read.2.max_idle_conn = 10
mysql_first.read.2.max_timeout = 300
mysql_first.read.2.max_open_conn = 200

mysql_first.write.1.dsn = lixin:123456@tcp(127.0.0.1:33060)/test?charset=utf8mb4&parseTime=True&loc=Local
mysql_first.write.1.max_idle_conn = 10
mysql_first.write.1.max_timeout = 300
mysql_first.write.1.max_open_conn = 200

mysql_first.write.2.dsn = lixin:123456@tcp(127.0.0.1:33060)/test?charset=utf8mb4&parseTime=True&loc=Local
mysql_first.write.2.max_idle_conn = 10
mysql_first.write.2.max_life_time = 300
mysql_first.write.2.max_open_conn = 200



mysql_second.read.count = 2
mysql_second.write.count = 1

mysql_second.read.1.dsn = lixin:123456@tcp(127.0.0.1:33060)/test?charset=utf8mb4&parseTime=True&loc=Local
mysql_second.read.1.max_idle_conn = 10
mysql_second.read.1.max_timeout = 300
mysql_second.read.1.max_open_conn = 200

mysql_second.read.2.dsn = lixin:123456@tcp(127.0.0.1:33060)/test?charset=utf8mb4&parseTime=True&loc=Local
mysql_second.read.2.max_idle_conn = 10
mysql_second.read.2.max_timeout = 300
mysql_second.read.2.max_open_conn = 200

mysql_second.write.1.dsn = lixin:123456@tcp(127.0.0.1:33060)/test?charset=utf8mb4&parseTime=True&loc=Local
mysql_second.write.1.max_idle_conn = 10
mysql_second.write.1.max_timeout = 300
mysql_second.write.1.max_open_conn = 200

; Redis Config
redis.names = redis_first

redis_first.read.count = 2
redis_first.write.count = 2

redis_first.read.1.addr = 127.0.0.1:6379
redis_first.read.1.password =
redis_first.read.1.max_idle_conn = 10
redis_first.read.1.max_timeout = 300
redis_first.read.1.max_open_conn = 200

redis_first.read.2.addr = 127.0.0.1:6379
redis_first.read.2.password =
redis_first.read.2.max_idle_conn = 10
redis_first.read.2.max_timeout = 300
redis_first.read.2.max_open_conn = 200

redis_first.write.1.addr = 127.0.0.1:6379
redis_first.write.1.password =
redis_first.write.1.max_idle_conn = 10
redis_first.write.1.max_timeout = 300
redis_first.write.1.max_open_conn = 200

redis_first.write.2.addr = 127.0.0.1:6379
redis_first.write.2.password =
redis_first.write.2.max_idle_conn = 10
redis_first.write.2.max_idle_timeout = 200
redis_first.write.2.max_life_timeout = 300
redis_first.write.2.max_open_conn = 200










[dev]
app.log_name = app.log
; Server type
;   http
;   tcp
server.support = http
host = 192.168.10.100
port = 12345
http.read_timeout = 3
http.write_timeout = 3
http.quit_timeout = 30

; Log output
;   stdout : Console output
;   file : File output
log.output = file

; Log Level
; LevelFatal = iota
; LevelError
; LevelWarn
; LevelNotice
; LevelInfo
; LevelTrace
; LevelDebug
log.level = 7

[online]
app.log_name = app.log
; Server type
;   http
;   tcp
server.support = http
host = 192.168.10.100
port = 12345
http.read_timeout = 3
http.write_timeout = 3
http.quit_timeout = 30

; Log output
;   stdout : Console output
;   file : File output
log.output = file

; Log Level
; LevelFatal = iota
; LevelError
; LevelWarn
; LevelNotice
; LevelInfo
; LevelTrace
; LevelDebug
log.level = 7
